button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #fff;
  border: none;
  outline: none;
  background: #928da3;
  font-size: 15px;
  line-height: 20px;
  border-radius: 5px;
  cursor: pointer;
}
